<%# app/views/students/edit.html.erb %>

<h1>Editing Student: <%= @student.full_name %></h1>

<%= render 'form' %>
<%= link_to 'Show Student', @student %> |
<%= link_to 'Back to Students', students_path %>